<!DOCTYPE html>
<html>

<body>
    <meta charset="UTF-8">
    <title>ICE</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="w3-padding-64 w3-content w3-text-grey">
        <h3 class="w3-text-light-LightSlateGray">WELLCOME TO MY PROFILE</h3>
        <hr style="width:200px">

        <img src="https://scontent.fbkk12-3.fna.fbcdn.net/v/t1.6435-9/141580404_3678620778870114_8402075248757792511_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeEt_tR4yl4v2H8JpzCcJNiGKh9qgvnJk7kqH2qC-cmTuRD5iUoxyL37s5WpSPdrJvXTk1EWN1g25tIdtPJAAssn&_nc_ohc=qfxayosg8hEAX-vm4aV&_nc_ht=scontent.fbkk12-3.fna&oh=e09fc96c81540f6e1de9b0e4cfd40230&oe=60E3703E"
            style="width: 230px; height: 250px;
        padding: 10px 0px 10px 0px;
        border-radius: 20px;" />

        <div class="w3-section">
            <h4 class=" w3-text-light-LightSlateGray">Panudet Khemngern</h4>
            <!-- <p><i class="fa-map-marker w3-text-white w3-xxlarge w3-margin-right"></i>Panudet Khemngern</p> -->
            <p>Pibulsongkram Rajabhat University</p>



        </div><br>
        <h3 class="w3-text-light-LightSlateGray">Contact</h3>
        <hr style="width:200px">

        <p><input class="w3-input " placeholder="ADDRESS"></p>
        <p>Don Mueang, Bangkok, 10210</p>
        <p><input class="w3-input " placeholder="PHONE"></p>
        <p>09 1028 8798</p>
        <p><input class="w3-input " placeholder="E-MAIL"></p>
        <p>Panudet@odds.team</p>
        <p><input class="w3-input " placeholder="DATE OF BIRTH"></p>
        <p>11 Feb 1995 </p>

    </div>

    <footer class="w3-content w3-xlarge">
        <a href="https://www.facebook.com" class="fa fa-facebook-official w3-hover-opacity"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram w3-hover-opacity"></a>
        <a href="https://twitter.com/?lang=th" class="fa fa-twitter w3-hover-opacity"></a>


</body>

</html>